:root {
  var-font-weight--cta: 500;
  var-overflow: hidden;
  /* Radio input */
  var-radio-offset: -109px;
  var-radio-offset--checked: -74px;
  var-radio-width: 37px;
  var-radio-bgsize: var(radio-width);
  var-radio-height: 31px;
  var-radio-line-height: var(radio-height);
  var-radio-margin: 15px;
  /* Overlay */
  var-overlay-bg-color: rgba(88, 90, 92, 0.7);
  var-overlay-padding: 20px 10px;
  var-overlay-bg-box-shadow: inset 0px 0px 115px 0px #000000;
  var-overlay-width: 50%;
  var-overlay-margin--left: - var(overlay-width) / 2;
  /* Textarea */
  var-font-size--textarea--large: 1.3rem;
  var-line-height--large: 1.3rem;
  var-margin: 0;
  /* Progress bar container */
  var-bar-border-radius  : 12px;
  var-bar-width          : 250px;
  var-bar-height         : 1.25rem;
  /* Progress bar progress */
  var-progress-border-radius: 12px 0 0 12px;
  /* Switch */
  var-content--switch__label--left: 'ON';
  var-content--switch__label--right: 'OFF';
  var-margin-bottom--switch__toggle: -1px;
  var-margin-top--switch__toggle: -1px;
  var-transition--switch__toggle: margin-left 0.05s ease-in-out;
  var-margin-bottom--switch__toggle: -1px;
  var-margin-top--switch__toggle: -1px;
  /* Notification */
  var-notification-padding: 0.15em 0.5em 0.2em;
  var-notification-margin: 5px;
  var-notification-border-radius: 2px;
  var-notification-color: #fff;
  /* Search */
  var-search-icon: url("../img/search.svg");

}

